* {
    font-family: 'Nunito Sans'; // 300, 600, 800
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);

    p {
        text-align: center;
        margin: 0;
        position: absolute;
        font-weight: 800;
    }

    .toggle {
        position: absolute;

        i {
            margin-right: 8px;
        }
    }
}

/* Styles for extra small - medium devices (up to 996px) */
@media (max-width: 996px) {
    .nav-container {
        p {
            left: 20px;
        }

        .toggle {
            right: 20px;
        }
    }
}

/* Styles for extra large devices (996px and above) */
@media (min-width: 996px) {
    .nav-container {
        p {
            left: 100px;
        }

        .toggle {
            right: 100px;
        }
    }
}
