<rest-countries-nav (darkModeValue)="handleValueChange($event)"></rest-countries-nav>
<div #elementRef class="detail-container">
    <button #buttonElements (click)="goBack()"> <i class="bi bi-arrow-left"></i> Back </button>
    <div class="content">
        <div class="image-container">
            <img src="{{ country?.flags?.png }}" alt="">
        </div>
        <div class="description">
            <h3 class="country-name">{{ country?.name }}</h3>
            <div class="sub-info">
                <div class="group1">
                    <p>Native Name: <span>{{ country?.nativeName }}</span></p>
                    <p>Population: <span>{{ country?.population }}</span></p>
                    <p>Region: <span>{{ country?.region }}</span></p>
                    <p>Sub Region: <span>{{ country?.subregion }}</span></p>
                    <p>Capital: <span>{{ country?.capital }}</span></p>
                </div>
                <div class="group2">
                    <p>Top Level Domain: 
                        <span *ngFor="let tld of country?.topLevelDomain; let i = index">
                            {{ tld }}
                        </span>
                    </p>
                    <p>Currencies: 
                        <span *ngFor="let currency of country?.currencies; let i = index">
                            {{ currency?.name }}<ng-container *ngIf="i !== country?.currencies.length - 1">,</ng-container>
                        </span>
                    </p>
                    <p>Languages: 
                        <span *ngFor="let language of country?.languages; let i = index">
                            {{ language?.name }}<ng-container *ngIf="i !== country?.languages.length - 1">,</ng-container>
                        </span>
                    </p>
                </div>
                <div class="group3">
                    <h6 class="borders-title">Border Countries:</h6>
                    <div class="borders" *ngFor="let countryName of borderCountries">
                        <p #buttonElements (click)="navigateCountry(countryName)">{{ countryName }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
