@import "../../styles/variables-multistep-form";
// @import '_variables.scss';

* {
    margin: 0;
    font-family: 'Ubuntu', sans-serif; // weights: 400, 500, 700
}

.hide {
    display: none;
}

.step-btn {
    border-radius: 50%;
    border: 1px solid $white;
    background-color: transparent;
    width: 35px;
    height: 35px;
    color: $white;
}

.step-bg {
    background-color: $light_blue;
    color: $marine-blue;
    font-weight: 700;
}

.field {
    margin: 15px 0;

    .input-label {
        display: flex;
        justify-content: space-between;
    
        p {
            font-weight: 400;
            font-size: 14px;
            color: $marine-blue;
        }
    }

    input {
        width: 100%;
        height: 45px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid $light_gray;
        padding-left: 12px;
        color: $cool_gray;
    }
    
    input:active {
        // border: 1px solid greenyellow !important;
    }

}

.invalid-input {
    border: 1px solid red !important;
}

.plan-card {

    svg {
        // margin: 0 15px;
    }

    .name {
        color: $marine-blue;
        font-weight: 500;
    }

    .bill {
        color: $cool_gray;
        font-weight: 400;
        font-size: 14px;
    }

    .sub-info {
        font-size: 12px;
        color: $marine-blue;
    }
}

.selected-card {
    background-color: $magnolia;
    border-color: $purplish-blue;
}

span, .plan-error {
    color: red;
    font-size: 10px;
    margin: 8px 0;
}

.plan-error {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.btn-previous {
    border: none;
    padding: 5px 8px;
    background-color: $alabaster;
    color: $cool_gray;
}

.btn-next, .btn-submit {
    background-color: $marine-blue;
    color: $alabaster;
    border: none;
    border-radius: 5px;
}

.confirmation {
    
    .thankyou {
        color: $marine-blue;
        margin: 20px 0 10px 0;

    }

    p {
        color: $cool_gray;
    }
}

.billing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $magnolia;
    padding: 25px 0;
    border: none;

    #switch {
        display: flex;
        align-items: center;

        p {
            margin-left: 20px;
            margin-right: 60px;
            font-size: 14px;
        }
    }
}

.addOns-card {
    display: flex;
    justify-content: center;
    height: 80px;

    .form-check {
        display: flex;
        align-items: center;
        padding: 0;

        input {
            height: 20px;
            width: 20px;
        }

        .checkbox-label {
            
            .name {
                color: $marine-blue;
                font-weight: 500;
            }

            .description {
                font-size: 12px;
                color: $cool_gray;
            }
        }

        .bill {
            font-size: 12px;
            color: $purplish-blue;
        }
    }
}

.summary-container {
    margin: 20px 0;

    .summary-card {
        background-color: $magnolia;
        padding: 10px 10px;
    }

    .summary-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 20px;

        .planName, .planAmount, .amount {
            color: $marine-blue;
        }

        .planName, .planAmount {
            font-weight: 700;
        }

        .planAmount {

        }

        a, .addOnsName, .totalName {
            color: $cool_gray;
            font-size: 14px;
        }

        .amount {
            font-size: 14px;
        }
    }

    #total {
        margin: 40px 20px;
    }

    .totalAmount {
        color: $purplish-blue;
        font-size: 20px;
    }
}

.card.plan-card:hover, .addOns-card:hover {
    background-color: $white !important;
    border-color: $purplish-blue !important;
}


/* Styles for extra small - medium devices (up to 996px) */
@media (max-width: 996px) {

    .container {
        height: 100vh;
        width: 100%;
        position: relative;
    }
      
    .step-bar,
    .div2,
    .navigation,
    .form-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
      
    .step-bar {
        top: 0;
        height: 25vh;
        width: 100%;
        background-image: url('/assets/images/bg-sidebar-mobile.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        z-index: 1;

        .step-contents {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 15vh;
            padding: 0 80px;
        }
    }
      
    .div2 {
        top: 25vh;
        height: 75vh;
        width: 100%;
        background-color: $magnolia;
        z-index: 2;
    }
      
    .navigation {
        top: 90vh;
        height: 10vh;
        width: 100%;
        background-color: $white;
        padding: 0 20px;
        z-index: 3;

        .buttons-container {
            display: flex;
            align-items: center;
            height: 10vh;

            .btn-previous {
                position: absolute;
                left: 10px;
                font-size: 14px;
            }

            .btn-next, .btn-submit {
                position: absolute;
                right: 10px;
                padding: 10px 15px;
                font-size: 14px;
            }
        }
    }
      
    .form-container {
        top: 15vh;
        width: 350px;
        background-color: white;
        z-index: 4;
        border-radius: 10px;

        form {
            margin: 30px;

            .title {
                font-size: 25px;
                font-weight: 700;
                margin: 30px 0 10px 0;
                color: $marine-blue;
            }

            .subtitle {
                font-size: 16px;
                color: $cool_gray;
            }

            .input-label {
            
                p {
                    margin: 2px 0;
                }
            }

            .plans-container, .addOns-container {
                margin: 10px 0;

                .plan-card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 80px;
                    margin: 10px 0;

                    svg {
                        margin: 0 15px;
                    }
                }

                .addOns-card {
                     margin: 5px 0;

                    .form-check {

                        .form-check-input {
                            margin: 0 15px;
                        }
                        
                        .checkbox-label {
                            width: 180px;
                        }
                    }
                }

            }

            .billing-container {
                margin: 20px 0 10px 0;
            }


        }
    }

    .confirmation {
        margin: 80px 0;
        text-align: center;
    }
}


/* Styles for extra large devices (996px and above) */
@media (min-width: 996px) {
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: $light_gray;

        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 916px;
            height: 600px;
            background-color: $alabaster;
            padding: 0;

            .step-bar {
                display: flex;
                align-items: center;
                height: 600px;
                width: 294px;

                .step-contents {
                    margin-left: 20px;
                    height: 565px;
                    width: 274px;
                    background-image: url('../../assets/images/bg-sidebar-desktop.svg');
                    padding: 40px;

                    .step {
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;

                        .step-desc {
                            margin: 0 10px;

                            .number {
                                color: $cool_gray;
                                font-size: 12px;
                            }

                            .label {
                                color: $light_gray;
                                font-weight: 700;
                                font-size: 14px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
    
            .form-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 500px;
                width: 626px;

                form {
                    height: 400px;
                    width: 450px;

                    .title {
                        font-size: 30px;
                        font-weight: 700;
                        margin: 20px 0 10px 0;
                        color: $marine-blue;
                    }
        
                    .subtitle {
                        font-size: 16px;
                        color: $cool_gray;
                        margin-bottom: 30px;
                    }

                    .input-label {
            
                        p {
                            margin: 6px 0;
                        }
                    }

                    .plans-container {
                        display: flex;
                        justify-content: space-between;
                        margin: 30px 0 0 0;

                        .plan-card {
                            display: flex;
                            justify-content: center;
                            height: 180px;
                            width: 140px;
                            padding-left: 20px;

                            svg {
                                margin-bottom: 30px;
                            }
                        }
                    }

                    .billing-container {
                        margin: 30px 0 0 0;
                    }

                    .addOns-container {
                        margin: 30px 0 0 0;

                        .addOns-card {
                            margin-bottom: 10px;

                            .form-check {

                                .form-check-input {
                                    margin: 0 20px;
                                }
                                
                                .checkbox-label {
                                    width: 320px;
                                }
                            }
                        }
                    }
                    .summary-card {

                    }
                }
            }
    
            .navigation {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                width: 626px;

                .buttons-container {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 450px;

                    .btn-previous {
                        margin-right: 250px;
                        font-size: 16px;
                    }
        
                    .btn-next, .btn-submit {
                        padding: 12px 10px;
                        font-size: 16px;
                        width: 120px;
                    }
                }
            }
        }
    }

    .confirmation {
        margin: 120px 0;
        text-align: center;
    }
}
