@import "../../styles/variables";
// @import '_variables.scss';

* {
    margin: 0;
    font-family: 'Ubuntu', sans-serif; //weights: 400, 500, 700
}

.hide {
    display: none;
}


/* Styles for extra small devices (up to 768px) */
@media (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100%;
        position: relative;
    }
      
    .step-bar,
    .div2,
    .navigation,
    .form-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
      
    .step-bar {
        top: 0;
        height: 25vh;
        width: 100%;
        background-image: url('/assets/svg/bg-sidebar-mobile.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        z-index: 1;

        .step-contents {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 15vh;
            padding: 0 80px;

            .step-btn {
                border-radius: 50%;
                border-color: white;
                border-width: 0.5px;
                background-color: transparent;
                width: 35px;
                height: 35px;
                color: white;
            }

            .step-bg {
                background-color: aliceblue;
                color: black;
            }
        }
    }
      
    .div2 {
        top: 25vh;
        height: 75vh;
        width: 100%;
        background-color: $magnolia;
        z-index: 2;
    }
      
    .navigation {
        top: 90vh;
        height: 10vh;
        width: 100%;
        background-color: white;
        padding: 0 20px;
        z-index: 3;

        .buttons-container {
            display: flex;
            align-items: center;
            height: 10vh;

            .btn-previous {
                position: absolute;
                left: 10px;
                border: none;
                padding: 5px 8px;
                background-color: $alabaster;
                color: $cool_gray;
                font-size: 14px;
            }

            .btn-next, .btn-submit {
                position: absolute;
                right: 10px;
                background-color: $marine-blue;
                color: aliceblue;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }
      
    .form-container {
        top: 15vh;
        width: 350px;
        background-color: white;
        z-index: 4;
        border-radius: 10px;

        form {
            margin: 30px;

            .title {
                font-size: 25px;
                font-weight: 700;
                margin: 30px 0 10px 0;
                color: $marine-blue;
            }

            .subtitle {
                font-size: 16px;
                color: $cool_gray;
            }

            .field {
                margin: 15px 0;

                .label {
                    font-size: 12px;
                    color: $marine-blue;
                }
    
                input {
                    width: 100%;
                    height: 40px;
                    font-size: 14px;
                    border-radius: 5px;
                    border-color: lightgrey;
                    border-width: 1px;
                    padding-left: 12px;
                    color: $cool_gray;
                }
            }

            .plan-container, .addOns-container {
                margin: 10px 0;

                .plan-card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 80px;
                    margin: 10px 0;

                    svg {
                        margin: 0 15px;
                    }

                    .name {
                        color: $marine-blue;
                        font-weight: 500;
                    }

                    .bill {
                        color: $cool_gray;
                        font-weight: 400;
                        font-size: 14px;
                    }

                    .sub-info {
                        font-size: 12px;
                        color: $marine-blue;
                    }
                }

                .addOns-card {
                    display: flex;
                    justify-content: center;
                    height: 80px;
                    margin: 5px 0;

                    .form-check {
                        display: flex;
                        align-items: center;
                        padding: 0;

                        .form-check-input {
                            margin: 0 15px;
                        }

                        .label {
                            width: 180px;

                            .description {
                                font-size: 12px;
                            }
                        }

                        .bill {
                            font-size: 12px;;
                            color: $purplish-blue;
                        }
                    }
                }
            }

            .billing-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                margin: 20px 0 10px 0;
                background-color: $magnolia;
                padding: 25px 0;
                border: none;

                #switch {
                    display: flex;
                    align-items: center;

                    p {
                        margin-left: 20px;
                        margin-right: 60px;
                        font-size: 14px;
                    }
                }
            }

            .summary-container {
                margin: 20px 0;

                .summary-field {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 15px;
                }

                #total {
                    margin: 40px 15px;
                }
            }
        }
    }
}

.confirmation {
    margin: 80px 0;
    text-align: center;
    
    .thankyou {
        margin: 20px 0 10px 0;
        color: $marine-blue;
    }

    p {
        color: $cool_gray;
    }
}


/* Styles for medium devices (768px to 1200px) */
@media (min-width: 768px) and (max-width: 1200px) {

}


/* Styles for extra large devices (1200px and above) */
@media (min-width: 1200px) {

}



  









