<div class="home-container">
    <div class="heading">
        <h3>This project is a compilation of my solutions to the Frontend Mentor's advanced coding challenges. Below are the challenges that I have finished so far.</h3>
    </div>
    <div class="content">
        <div class="card">
            <div class="top">
                <img src="assets/images/msf-desktop-preview.jpg" alt="">
            </div>
            <div class="bottom">
                <h4>Multi-step Form</h4>
                <a target="_blank" href="https://frontend-mentor-challenges-solutions-by-sjmb.vercel.app/multi-step-form">
                    Demo <i class="bi bi-box-arrow-up-right"></i>
                </a>
                <a target="_blank" href="https://github.com/sjmburlaza/frontend-mentor-challenges/tree/main/src/app/multi-step-form">
                    Code <i class="bi bi-box-arrow-up-right"></i>
                </a>
                <a target="_blank" href="https://www.frontendmentor.io/challenges/multistep-form-YVAnSdqQBJ">
                    Challenge <i class="bi bi-box-arrow-up-right"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="top">
                <img src="assets/images/rca-desktop-preview.jpg" alt="">
            </div>
            <div class="bottom">
                <h4>Rest Countries API</h4>
                <a target="_blank" href="https://frontend-mentor-challenges-solutions-by-sjmb.vercel.app/rest-countries/home">
                    Demo <i class="bi bi-box-arrow-up-right"></i>
                </a>
                <a target="_blank" href="https://github.com/sjmburlaza/frontend-mentor-challenges/tree/main/src/app/rest-countries-api">
                    Code <i class="bi bi-box-arrow-up-right"></i>
                </a>
                <a target="_blank" href="https://www.frontendmentor.io/challenges/rest-countries-api-with-color-theme-switcher-5cacc469fec04111f7b848ca">
                    Challenge <i class="bi bi-box-arrow-up-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>